.postContainer h1, .postContainer h2, .postContainer h3, .postContainer h4, .postContainer h5, .postContainer h6{
    color: var(--color-primary);
        margin: 10px 0;
}
.postContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 15px;
    padding: 30px 70px;
}

.blogSL{
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.blogSL h1, .blogSL h2, .blogSL h3, .blogSL h4, .blogSL h5, .blogSL h6, .blogSL p{
    padding-left:20px;
    padding-right:20px;
}
.blogSL ol, .blogSL ul{
    padding: 10px 20px 0 40px ;
}
.blogSL p{
    text-align: justify;
    padding-top: 7px;
    padding-bottom: 7px;
}

.postTitle{
    margin: 10px 0;
}

.imageContainer img{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0; 
}

.date >p{
 text-align: right;
 color: var(--color-primary);
}
.backButton{
    width: 150px;
    height: 50px;
    margin-top: 30px;
}
.backButton a{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 700;
    font-size: 16px;
}
.artical{
    border-left: 4px solid var(--color-primary);
    padding: 0 20px;
}

@media screen and (max-width: 1024px) {
    .postContainer{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 50px 25px;
    }
    .artical{
        border-left: none;
    }
}