.sevices_title {
  color: var(--color-primary);
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.services_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px 70px;
}

.servises_item {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--transition);
}
.servises_item p {
  text-align: justify;
}
.servises_item:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  box-shadow: none;
}
.servises_item img {
  width: 100%;
  height: 200px;
}

.servises_item h2 {
  color: var(--color-primary);
  margin: 20px 0;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .services_container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .services_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
